<%= form_for [:admin, @article], html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col s12 input-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list, value: @article.tag_list.to_s %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field">
      <%= f.label :content %>
      <%= f.text_area :content, class: "materialize-textarea" %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 input-field">
      <%= f.label :cover %>
      <%= image_tag(@article.cover.thumb) if @article.cover? %>
      <%= f.file_field :cover %>
      <%= f.hidden_field :cover_cache %>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
<% end %>
