<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="title">
    MEU BLOG
  </div>

  <div class="container">
    <div class="fields">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, required: true, placeholder: "Email" %>
    </div>

    <div class="fields">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", required: true, placeholder: "Senha" %>
    </div>

    <%= f.submit "Login", class: "login" %>

    <%= f.check_box :remember_me %> Lembrar
    <%= link_to "Não tem cadastro?", new_user_registration_path, class: "link" %>
  </div>
<% end %>
