<nav role="navigation">
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to "Administração", admin_setup_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Registrar", new_user_registration_path %></li>
      <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <% if user_signed_in? %>
        <li><%= link_to "Administração", admin_setup_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Registrar", new_user_registration_path %></li>
      <% end %>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
